<div>
  <h2>My Heroes Promise</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>
  <div>
    New hero name: <input type="text" placeholder="input new hero name here" #newHeroIpt > <button (click)="addHero(newHeroIpt.value);newHeroIpt.value = '';">Add Hero</button>
  </div>
  <div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} is my hero</h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>

</div>
