
<!-- day list -->
<table class="horizontalBlock container">
  <tr>
    <td colspan="2">
      <div class="headAndFoot" style="margin-bottom:3px">
        {{ displayed[0].dte | date:'MMMM' }}
        {{ displayed[0].dte | date:'yyyy' }}
      </div>
    </td>

  </tr>
  <tr *ngFor="let day of displayed" (click)="selectDay(day)"  [ngClass]="{'selected' : day.selected}">
    <td class="daycell">{{ day.dte | date:'d' }} </td>
    <td class="daycell">{{ day.dte | date:'EEEE' }} </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="headAndFoot" style="margin-top:3px">
        {{ displayed[9].dte | date:'MMMM' }}
        {{ displayed[9].dte | date:'yyyy' }}
      </div>
    </td>
    <td rowspan="3">
    </td>
  </tr>
</table>

<!-- controls -->
<div class="horizontalBlock">
  <div style="margin-bottom:3px">
    <button (click)="dayEarlier()">&#8593;</button>
  </div>
  <div style="margin-bottom:21px">
    <button>&#8607;</button>
  </div>
  <div style="margin-bottom:3px">
    <button (click)="dayLater()">&#8595;</button>
  </div>
  <div style="margin-bottom:3px">
    <button>&#8609;</button>
  </div>
</div>


