.container {
  padding: 10px;
  font-family: arial;
  font-size:14px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  background-color: whitesmoke;
}

h1 {
  font-weight: normal;
  text-align:center;
}

.horizontalBlock {
  display: inline-block;
  vertical-align: top;
}

.dayDetailsWidth {
  width: 600px;
  margin-left: 20px;
}
